.listing-book-aside{
    position: relative;
}

.booking-container{
    /* position: fixed; */
    /* right: 0; */
    box-sizing: border-box;
    min-height: 350px;
    max-height: 500px;
    border: 1px solid #e7e7e7;
    padding: 20px;
    /* height: auto; */

}

.booking-rate{
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e7e7;
}

.booking-info{
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.booking-cost,
.booking-rate i{
    color: #7c7c7c;
    font-size: 22px;
    font-weight: 800px;
}

.booking-cost{
    color: #484848;
}

.booking-text-small{
    color: #484848;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 0;
}

.booking-calendar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid#e7e7e7;
    border-radius: 3px;
    
}

.booking-calendar i{
    font-size: 16px;
    color: #7c7c7c;
    /* padding-right: 6px; */
}

.booking-calendar input[type="date"]{
    color: #7c7c7c;
    height: 40px;
    width: 150px;
    font-size: 13px;
    border: none;
    font-weight: 300;
    padding-left: 8px;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.booking-players {
    border-radius: 3px;
    padding-top: 11px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: baseline;
}

.booking-players-dd{
    position: relative;
    width: 100%;
}

.booking-players-dd i {
    top: 17px;
    font-size: 16px;
    position: absolute;
    color: #8f8f8f;
    right: 11px;
}

.booking-players-input{
    box-sizing: border-box;
    height: 46px;
    width: 100%;
    /* margin: 0; */
    background-color: white;
    border: 1px solid #e7e7e7;
    color: #7c7c7c;
    padding: 11px 40px 11px 11px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: 13px;
    font-family: "Raleway", sans-serif;
}

.booking-submit{
    width: 100%;
    height: 46px;
    padding: 11px;
    margin: 11px 0;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    background-color: #ff5a5f;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

/* //booking rates */
.booking-rate-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 24px;
}

.rate-info-li{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e7e7e7;
    font-size: 14px;
    color: #7c7c7c;
}

.rate-info-li.total{
    border-bottom: none;
    font-weight: 600;
}

.booking-errors{
    color: #fb642d;
    font-size: 12px;
    padding-top: 6px;
}



.listing-book-footer{
    display: none;
}


@media screen and (max-width: 1300px){
    .listing-book-footer{
        /* position: fixed; */
        bottom: 0;
        border: 1px solid black;
        z-index: 3px;
    }

    .listing-book-aside{
        display: none;
    }
}

/* booking modal */

.confirm-booking-container{
    position: relative;
    width: 570px;
    padding: 70px 32px 32px 32px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.confirm-booking-container h3{
    width: 100%;
    margin: 11px auto;
    font-size: 24px;
    color: #484848;
    font-weight: 800;
}