.listing-show-page{
    box-sizing: border-box;
    padding: 80px 0;
    height: 100%;
    width: 100%;
}

.listing-show-img{
    width: 100%;
    position: relative;
}

/* listing info */

.listing-show-information{
    /* width: 100%; */
    flex: display;
    justify-content: center;
    display: flex;
    /* justify-content: space-between; */
    padding: 24px;
    margin: 0 auto;
    height: 100%;
}

.listing-show-main{
    box-sizing: border-box;
    padding-right: 80px;
    width: 50%;
    height: 100%;
    /* padding: 24px;
    margin: 0 200px; */
}

.listing-label{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.listing-header{
    display: flex;
    justify-content: space-between;
}

.listing-info p{
    font-size: 15px;
    color: #484848;
    padding: 0;
}

.listing-title{
    margin: auto 0;
    font-size: 32px;
    color: #484848;
    font-weight: 800;
    /* padding: 6px 0; */
}

.listing-info-text{
    font-size: 15px;
    color: #484848;
    padding: 12px 0 24px 0;
    border-bottom: 1px solid #e7e7e7;
}

.listing-detail-1{
    position: relative;
    display: flex;
    border-bottom: 1px solid #e7e7e7;
}

.listing-detail-1 i{
    position: absolute;
    top: 20px;
    color: #7e7e7e;
}

.listing-detail-container{
    box-sizing: border-box;
    /* padding-left: 24px; */
    padding: 12px 0 12px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
}

.listing-details-header{
    font-size: 15px;
    color: #484848;
    font-weight: 600;
    padding-top: 11px;
}

.listing-details{
    display: flex;
    justify-content: row;
}

.listing-details span{
    padding-right: 30px;
}

.listing-description p {
    padding-top: 24px;
    line-height: 1.25;
}

.listing-host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
}

.listing-host img{
    padding: 3px;
    height: 64px;
    width: 64px;
}

.listing-host-text{
    font-size: 15px;
    color: #767676;
}

.listing-other-host-info{
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    border-bottom: 1px solid #e7e7e7;
}

.listing-host-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.host-info-text{
    font-size: 15px;
    color: #484848;
    padding: 8px 0;

}

.listing-other-info{
    padding-top: 24px; 
}

.policy{
    /* padding-top: 11px; */
    font-size: 15px;
    color: #484848;
    /* font-weight: 600; */
}

.listing-other-header{
    color: #484848;
    font-size: 22px;
    /* padding-bottom: 24px; */
    /* font-weight: 800; */
}

.policy h4{
    padding: 20px 0px 11px 0;
    /* border-bottom: 1px solid #e7e7e7; */
}

.pad-bottom{
    padding-bottom: 24px;
}

.bordered-top{
    /* border-bottom: none; */
    border-top: 1px solid #e7e7e7;
}

.listing-header-citymap{
    color: #484848;
    font-size: 22px;
    padding: 0px 0 24px 0;
}

.listing-info-map{
    height: 500px;
    width: 100%;
}

@media screen and (max-width: 1300px){
    .show-page{
        min-height: 100%;
        width: 100%;
    }

    .listing-show-page{
        box-sizing: border-box;
        padding: 80px 0;
        height: 2200px;
        width: 100%;
    }

    .listing-show-information{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100%;
    }

    .listing-show-main{
        width: 650px;
        padding-right: 0;
        position: absolute;
        top: 24px;
    }

    /* .listing-show-book{
        position: absolute;
        bottom: 0;
    } */
}




