.reviews{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reviews img{
    width: 50px;
    height: 50px;
    padding-right: 18px;
}

.review-header{
    display: flex;
    align-items: center;
}

.review-items {
    padding: 24px 0;
    border-bottom: 1px solid #e7e7e7;
}

ul li.review-items:last-child{
    border: none;
}

.listing-item-rating-icon,
ul.review-rating-icons,
.review-header span{
    padding: 0 0 24px 12px;
    font-size: 14px;
    color: #008489;
}

ul.review-rating-icons i{
    padding: 2px;
}

.review-author{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    color: #484848;
}

.review-author h3{
    font-weight: 600;
}

.review-author h6 {
    font-weight: normal;
    font-size: 14px;
}

.review-items p {
    padding: 8px 0;
    font-size: 14px;
}

.image-radio input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.image-radio i {
    padding: 0 6px 24px 0;
    font-size: 14px;
    color: #008489;
}

.review-form form input[type="text"]{
    width: 99%;
    height: 100px;
}

.review-submit{
    width: 100%;
    height: 46px;
    padding: 11px 0;
    margin: 11px 0;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    background-color: #ff5a5f;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
}



