/* review header */
.reviews{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reviews img{
    width: 50px;
    height: 50px;
    padding-right: 18px;
}

.review-header{
    display: flex;
    align-items: center;
}

.review-items {
    padding: 24px 0;
    border-bottom: 1px solid #e7e7e7;
}

ul li.review-items:last-child{
    border: none;
}

.listing-item-rating-icon,
ul.review-rating-icons,
.review-header span{
    padding: 0 0 24px 12px;
    font-size: 14px;
    color: #008489;
}

.review-rating-icons i{
    padding: 2px;
}


.ratings {
    justify-content: space-between;
    width: 100%;
}

.multi-rating {
    width: 50%;
    padding-right: 24px;
}

.multi-rating li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.multi-rating li span {
    padding-bottom: 8px;
}

.multi-rating li p {
    font-size: 14px;
    color: #7e7e7e;
}

/* review indexs */

.review-author-box{
    display: flex;
    justify-content: space-between;
}

.review-author{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    color: #484848;
}

.review-author h3{
    font-weight: 600;
}

.review-author h6 {
    font-weight: normal;
    font-size: 14px;
}

.review-items p {
    padding: 8px 0;
    font-size: 14px;
}

.image-radio {
    padding-top: 18px;
    display: flex;
}

.image-radio input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.image-radio i {
    padding: 0 6px 24px 0;
    font-size: 14px;
    color: #008489;
}

.review-form form textarea{
    resize: none;
    width: 97%;
    height: 100px;
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
}

.review-form form textarea:focus{
    outline: none;
}

.review-submit{
    width: 100%;
    height: 46px;
    padding: 11px 0;
    margin: 11px 0;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    background-color: #ff5a5f;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.review-remove {
    color: #7e7e7e;
    font-size: 12px;
}

.review-remove:hover {
    color: #008489;
    cursor: pointer;
}



